
<!-- Footer -->
<footer class="footer" id="footer-main">
    <div class="tf-container w-1290">
    <div class="row">
    <div class="col-lg-12">
    <div class="footer-top">
    <div class="footer-left">
    <div class="logo">
    <a href="index.html">
    <img alt="" src="images/logo/logo-2.png"/>
    </a>
    </div>
    </div>
    <div class="footer-center">
    <p class="font-snowfall">
                                        Farm of laughter and happiness!
                                    </p>
    </div>
    <div class="footer-right">
    <div class="wg-social">
    <ul class="list">
    <li class="item">
    <a href="#"><i class="icon-facebook1"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-twitter"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-instagram2"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-pinterest"></i></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-inner">
    <div class="tf-container w-1290">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    <div class="footer-inner-wrap footer-col-block">
    <h4 class="footer-title footer-title-desktop mb-23">
                                        Contact Us!
                                    </h4>
    <h4 class="footer-title footer-title-mobile mb-23">
                                        Contact Us!
                                    </h4>
    <ul class="contact-list tf-collapse-content">
    <li>
    <i class="fa-solid fa-location-dot fs-17"></i>
    <p class="address">
                                                Prinsengracht 250, 2501016 PM
                                                Amsterdam Netherlands
                                            </p>
    </li>
    <li>
    <i class="fa-solid fa-phone"></i>
    <p class="phone-number fs-15">
                                                Call us: (234) 109-6666
                                            </p>
    </li>
    <li>
    <i class="icon-package-box"></i>
    <p class="email fs-15">
                                                Mail: Donalfarms gmail.com
                                            </p>
    </li>
    <li>
    <i class="fa-solid fa-clock"></i>
    <p class="time-open fs-15">
                                                Mon - Sat: 8.00am - 18.00pm
                                            </p>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="footer-inner-wrap footer-col-block">
    <h4 class="footer-title footer-title-desktop mb-23">
                                        News Posts
                                    </h4>
    <h4 class="footer-title footer-title-mobile mb-23">
                                        News Posts
                                    </h4>
    <ul class="new-post-list tf-collapse-content">
    <li class="item img-hover">
    <div class="image hover-item">
    <img alt="" src="images/section/f-new-post-1.jpg"/>
    </div>
    <div class="content">
    <a class="title-post hover-text-secondary" href="#">
                                                    Learn 10 Best Tips for New
                                                    Formers
                                                </a>
    <p class="date-release">
                                                    30 Oct, 2024
                                                </p>
    </div>
    </li>
    <li class="item img-hover">
    <div class="image hover-item">
    <img alt="" src="images/section/f-new-post--2.jpg"/>
    </div>
    <div class="content">
    <a class="title-post hover-text-secondary" href="#">
                                                    Farmer Sentiment Darkens
                                                    Hopes Fade
                                                </a>
    <p class="date-release">
                                                    30 Oct, 2024
                                                </p>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="footer-inner-wrap footer-col-block">
    <h4 class="footer-title footer-title-desktop mb-28">
                                        Quick Links
                                    </h4>
    <h4 class="footer-title footer-title-mobile mb-28">
                                        Quick Links
                                    </h4>
    <ul class="link-list tf-collapse-content">
    <li class="item">
    <a href="about-us.html">
    <svg height="16" viewbox="0 0 448 512" width="14" xmlns="http://www.w3.org/2000/svg">
    <path d="M264.547 70.633L440.547 238.633C445.297 243.164 447.984 249.445 447.984 256.008S445.297 268.852 440.547 273.383L264.547 441.383C254.953 450.508 239.766 450.164 230.609 440.57C221.453 431.07 221.797 415.82 231.422 406.633L364.09 280.008H24C10.75 280.008 0 269.258 0 256.008S10.75 232.008 24 232.008H364.09L231.422 105.383C221.797 96.227 221.453 80.977 230.609 71.445C239.766 61.852 254.953 61.508 264.547 70.633Z">
    </path>
    </svg>
                                                Learn About Us
                                            </a>
    </li>
    <li class="item">
    <a href="our-services.html">
    <svg height="16" viewbox="0 0 448 512" width="14" xmlns="http://www.w3.org/2000/svg">
    <path d="M264.547 70.633L440.547 238.633C445.297 243.164 447.984 249.445 447.984 256.008S445.297 268.852 440.547 273.383L264.547 441.383C254.953 450.508 239.766 450.164 230.609 440.57C221.453 431.07 221.797 415.82 231.422 406.633L364.09 280.008H24C10.75 280.008 0 269.258 0 256.008S10.75 232.008 24 232.008H364.09L231.422 105.383C221.797 96.227 221.453 80.977 230.609 71.445C239.766 61.852 254.953 61.508 264.547 70.633Z">
    </path>
    </svg>
                                                Services We Provide</a>
    </li>
    <li class="item">
    <a href="portfolio-style-1.html">
    <svg height="16" viewbox="0 0 448 512" width="14" xmlns="http://www.w3.org/2000/svg">
    <path d="M264.547 70.633L440.547 238.633C445.297 243.164 447.984 249.445 447.984 256.008S445.297 268.852 440.547 273.383L264.547 441.383C254.953 450.508 239.766 450.164 230.609 440.57C221.453 431.07 221.797 415.82 231.422 406.633L364.09 280.008H24C10.75 280.008 0 269.258 0 256.008S10.75 232.008 24 232.008H364.09L231.422 105.383C221.797 96.227 221.453 80.977 230.609 71.445C239.766 61.852 254.953 61.508 264.547 70.633Z">
    </path>
    </svg>
                                                View Recent Projects</a>
    </li>
    <li class="item">
    <a href="our-farmers.html">
    <svg height="16" viewbox="0 0 448 512" width="14" xmlns="http://www.w3.org/2000/svg">
    <path d="M264.547 70.633L440.547 238.633C445.297 243.164 447.984 249.445 447.984 256.008S445.297 268.852 440.547 273.383L264.547 441.383C254.953 450.508 239.766 450.164 230.609 440.57C221.453 431.07 221.797 415.82 231.422 406.633L364.09 280.008H24C10.75 280.008 0 269.258 0 256.008S10.75 232.008 24 232.008H364.09L231.422 105.383C221.797 96.227 221.453 80.977 230.609 71.445C239.766 61.852 254.953 61.508 264.547 70.633Z">
    </path>
    </svg>
                                                Meet The Farmers</a>
    </li>
    <li class="item">
    <a href="coming-soon.html">
    <svg height="16" viewbox="0 0 448 512" width="14" xmlns="http://www.w3.org/2000/svg">
    <path d="M264.547 70.633L440.547 238.633C445.297 243.164 447.984 249.445 447.984 256.008S445.297 268.852 440.547 273.383L264.547 441.383C254.953 450.508 239.766 450.164 230.609 440.57C221.453 431.07 221.797 415.82 231.422 406.633L364.09 280.008H24C10.75 280.008 0 269.258 0 256.008S10.75 232.008 24 232.008H364.09L231.422 105.383C221.797 96.227 221.453 80.977 230.609 71.445C239.766 61.852 254.953 61.508 264.547 70.633Z">
    </path>
    </svg>
                                                Up Coming Events</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="footer-inner-wrap">
    <h4 class="footer-title fs-20">
                                        Subscribe Newsletter
                                    </h4>
    <form accept-charset="utf-8" action="#" class="form-newsletter form-email style-2" data-mailchimp="true" id="subscribe-form" method="post">
    <div class="w-100" id="subscribe-content">
    <input aria-required=" true" class="email style-2" id="subscribe-email" name="email-form" placeholder="Email address*" required="" type="email"/>
    <button class="tf-btn full bg-white scale-40" id="subscribe-button" type="button">
    <span class="text-style cl-primary">
                                                    Subscribe Now!
                                                </span>
    <span class="icon">
    <i class="fa-solid fa-paper-plane fs-14"></i>
    </span>
    </button>
    </div>
    <div id="subscribe-msg"></div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="tf-container w-1290">
    <div class="row">
    <div class="col-lg-12">
    <div class="footer-bottom">
    <p class="no-copy font-nunito">
                                    Copyright © 2024 Donal Farm by
                                    <span>
    <a href="https://themeforest.net/user/themesflat/portfolio">
                                            Themesflat</a>.</span>
                                    All Rights Reserved.
                                </p>
    <ul class="policy-list">
    <li class="item">
    <a href="#">
                                            Confidentiality &amp; Privacy
                                        </a>
    </li>
    <li class="item">
    <a href="#"> Legal Information </a>
    </li>
    <li class="item">
    <a href="#">
                                            Return and Refund Policy
                                        </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="img-item item-1">
    <img alt="" src="images/item/grass-2.png"/>
    </div>
    <div class="img-item item-2">
    <div class="scroll-element-3">
    <img alt="" class="wow zoomIn" src="images/item/silo.png" style="visibility: hidden; animation-name: none;"/>
    </div>
    </div>
    </footer>
    <!-- /.Footer -->
    



    
    <!-- /#Wapper -->
    <!-- Open-search -->
    <div class="offcanvas offcanvas-top offcanvas-search" id="canvasSearch">
    <button aria-label="Close" class="btn-close-search" data-bs-dismiss="offcanvas" type="button">
    <i class="icon-close"></i>
    </button>
    <div class="tf-container">
    <div class="row">
    <div class="col-12">
    <div class="offcanvas-body">
    <form action="#" class="form-search-courses">
    <div class="icon">
    <i class="icon-keyboard"></i>
    </div>
    <fieldset>
    <input aria-required="true" class="" name="text" placeholder="Search for anything" required="" tabindex="2" type="text" value=""/>
    </fieldset>
    <div class="button-submit">
    <button class="" type="submit">
    <i class="icon-magnifying-glass"></i>
    </button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div><!-- /.Open-search -->
    <!-- Prograss -->
    <div class="progress-wrap">
    <svg class="progress-circle svg-content" height="100%" viewbox="-1 -1 102 102" width="100%">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
    </path>
    </svg>
    </div><!-- /.Prograss -->