<!-- Wrapper -->
<div id="wrapper">
    <!-- Preloader -->
    <!-- /.Preloader -->
    <!-- Top-bar -->
    <div class="tf-topbar">
        <div class="tf-container w-1780">
            <div class="row">
                <div class="col-lg-12">
                    <div class="topbar-inner">
                        <div class="topbar-left">
                            <span class="fs-14 font-nunito">Bienvenu sur Agriconnect</span>
                            <span class="fs-14 font-nunito">Votre plateforme de connection  </span>
                        </div>
                        <div class="topbar-right">
                            <ul class="contact-list">
                                <li class="item">
                                    <a class="icon" href="#">
                                        <i class="fa-solid fa-phone"></i>
                                    </a>
                                    <a href="#"> +228 90 68 01 13 </a>
                                </li>
                                <li class="item">
                                    <a class="icon" href="#">
                                        <img alt="" src="icons/mailbox.png" />
                                    </a>
                                    <a href="#">
                                        Agriconnect &#64; gmail.com
                                        
                                    </a>
                                </li>
                                <li class="item">
                                    <a class="icon" href="#">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </a>
                                    <a href="#">
                                        Lomé, TOGO
                                    </a>
                                </li>
                                <li class="item">
                                    <i class="icon-calendar"></i>
                                    <p>
                                        {{ getFormattedDate() }}
                                    </p>
                                </li>
                            </ul>
                            <ul class="social-list">
                                <li class="item">
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.Top-bar -->
    <!-- Welcome -->
    <div class="box-welcome">
        <div class="tf-overlay"></div>
        <div class="welcome-wrap">
            <div class="content">
                <div class="btn-close-welcome icon style-circle">
                    <i class="icon-close"></i>
                </div>
                <h3 class="title font-snowfall">
                    Agriconnect <br />
                    Plateforme de connection et de partage de ressources
                </h3>
                <p class="text font-nunito">
                    Agriconnect est une plateforme de connection et de partage de ressources pour les agriculteurs , les éleveurs les vétérinaires des prestataires et d'autres types d'acteurs qui souhaitent approfondir leurs connaissances sur les ressources agroecologiques.
                </p>
                <ul class="infor-list">
                    <li class="item">
                        <i class="fa-solid fa-location-dot fs-18"></i>
                        <p>
                            Basé à Lomé, Togo
                        </p>
                    </li>
                    <li class="item">
                        <i class="fa-solid fa-phone"></i>
                        <p>
                            
                            Contactez nous : (228)
                            90-68-01-13
                        </p>
                    </li>
                    <li class="item">
                        <img alt="" src="icons/mailbox-2.png" />
                        <p>
                            E-Mail:
                            
                            Agriconnect &#64; gmail.com
                        </p>
                    </li>
                    <!-- <li class="item">
                        <i class="fa-solid fa-clock"></i>
                        <p>
                            Mon - Sat: 8.00am -
                            18.00pm
                        </p>
                    </li> -->
                    <li class="item">
                        <i class="icon-calendar"></i>
                        <p>
                            {{ getFormattedDate() }}
                        </p>
                    </li>
                </ul>
                <div class="wg-social">
                    <ul class="list">
                        <li class="item">
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.Welcome -->
    <!-- Header  -->
    <header class="header has-item-bot" id="header-main">
        <div class="tf-container w-1780">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-inner">
                        <div class="header-left">
                            <div class="logo-site">
                                <a href="index.html">
                                    <img alt="" src="/images/logo/logo.png" />
                                </a>
                            </div>
                            <div class="main-nav">
                                <ul class="nav-list">
                                    <li class="item has-child current-menu">
                                         <a [routerLink]="['/']">Accueil</a>
                                    </li>
                                    <li class="item has-child">
                                        <a href="javascript:void(0)">Pages</a>
                                        <ul class="sub-nav">
                                            <li>
                                                <a href="about-us.html">
                                                    <span>
                                                        A propos de nous
                                                    </span>
                                                </a>
                                            </li> 
                                            <li>
                                                <a href="testimonial.html">
                                                    <span>
                                                        Témoignages
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item has-child">
                                        <a href="javascript:void(0)">Profil</a>
                                        <ul class="sub-nav">
                                            <li>
                                                <a [routerLink]="['/app/utilisateur', currentUser?.id]">
                                                    <span>
                                                        Profil
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a [routerLink]="['/app/utilisateur', currentUser?.id, 'detail']">
                                                    <span>
                                                        Détails Profil
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item has-child">
                                        <a href="javascript:void(0)">Boutique</a>
                                        <ul class="sub-nav">
                                            <li>
                                                <a [routerLink]="['/app/boutiqueProduit/']">
                                                    <span>
                                                        Boutique Produits
                                                    </span>
                                                </a>
                                                <a [routerLink]="['/app/creerProduits']">
                                                    <span>
                                                        Créer Produits
                                                    </span>
                                                </a>
                                            
                                                <a [routerLink]="['/app/forum']">
                                                    <span>Forum</span>
                                                </a>

                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li class="item has-child">
                                        <a href="javascript:void(0)">Services</a>
                                        <ul class="sub-nav">
                                            <li>
                                                <a href="our-services.html">
                                                    <span>
                                                        Nos Services
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="service-detail.html">
                                                    <span>
                                                        Détails Service
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item has-child">
                                        <a href="javascript:void(0)">Forum</a>
                                        <ul class="sub-nav">
                                            <li>
                                                <a href="blog-full-width.html">
                                                    <span>
                                                        Forum 
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>



                                    <!-- <li class="item has-child">
                                        <a href="contact-us.html">Pages</a>
                                        <ul>
                                            <li>
                                                <a [routerLink]="['/app/utilisateurs']">Utilisateurs</a>
                                            </li>
                                        </ul>
                                    </li> -->






                                    <li class="item has-child">
                                        <a href="javascript:void(0)">Pages</a>
                                        <ul class="sub-nav">
                                            <li>
                                                <a [routerLink]="['/app/utilisateurs']">
                                                    <span>
                                                        Utilisateurs
                                                    </span>
                                                </a>
                                            </li>

                                            <li>
                                                <a [routerLink]="['/app/offreEmploi']">
                                                    <span>Créer Offre</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a [routerLink]="['/app/offres-disponible']">
                                                    <span>Offre Disponible</span>
                                                </a>
                                            </li>

                                            <!-- <li *ngIf="candidater_offres">
                                                <a [routerLink]="['/app/liste-candidatures']">    
                                                    <span>Candidature reçues</span>
                                                </a>
                                            </li> -->

                                            <!-- <li *ngIf = "!a_creer_une_offre"> -->
                                            <li>
                                                <a [routerLink]=" ['/app/liste-offre']">
                                                    <span> Mes offres </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a [routerLink]=" ['/app/liste-reponses']">
                                                    <span> Mes Reponses </span>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-right">
                            <a class="tf-btn gap-30" href="contact-us.html">
                                <span class="text-style">
                                    Contactez-Nous!
                                </span>
                                <div class="icon">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </a>


                            <div class="pxl-anchor-icon d-inline-flex"><svg
                                xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z">
                                </path>
                            </svg></div>

                            
                            
                            <!-- [routerLink]="['/app/boutiqueProduit/']" -->
                            
                            <div class="pxl-user-anchor-wrap d-flex-wrap align-items-center ">
                                <!-- <span [routerLink]="['/login']"
                                    class="pxl-anchor side-panel d-inline-flex align-items-center relative"
                                    data-target=".pxl-hidden-template-10968" data-form-type="login">
                                    <div class="pxl-anchor-icon d-inline-flex"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="#000000" viewBox="0 0 256 256">
                                            <path
                                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z">
                                            </path>
                                        </svg></div>
                                </span> -->
                                <a [routerLink]="['/login']">
                                    <span [routerLink]="['/login']"
                                    class="pxl-anchor side-panel d-inline-flex align-items-center relative"
                                    data-target=".pxl-hidden-template-10968" data-form-type="login">
                                    <div class="pxl-anchor-icon d-inline-flex"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="#000000" viewBox="0 0 256 256">
                                            <path
                                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z">
                                            </path>
                                        </svg></div>
                                </span>
                                </a>


                                <span
                                    class="pxl-anchor side-panel d-inline-flex align-items-center relative"
                                    data-target=".pxl-hidden-template-10968" data-form-type="reg">
                                </span>

                            </div>



                            <div class="icon-wrap">

                                <!-- recherche -->
                                <a class="icon header-search" data-bs-toggle="offcanvas" href="#canvasSearch">
                                    <i class="fa-solid fa-magnifying-glass fs-21">  
                                    </i>

                                </a>
                                <app-recherche></app-recherche>


                                <!-- panier -->
                                <a class="icon wg-bag" (click)="openCart($event)">
                                    <i class="fa-solid fa-shopping-basket">
                                        <span class="cart-count" *ngIf="cartItemsCount > 0">{{cartItemsCount}}</span>
                                    </i>
                                    
                                </a>
                            </div>
                            <div class="wg-welcome btn-open-welcome">
                                <i class="fa-solid fa-bars fs-24"></i>
                            </div>
                            <div class="mobile-button">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav-wrap">
                        <div class="overlay-mobile-nav"></div>
                        <div class="inner-mobile-nav overflow-y-auto">
                            <div class="top">
                                <div class="logo">
                                    <a class="main-logo" href="index.html" rel="home">
                                        <img alt="" id="mobile-logo_header" src="/images/logo/logo-2.png" />
                                    </a>
                                    <div class="mobile-nav-close">
                                        <i class="icon-close"></i>
                                    </div>
                                </div>
                                <nav class="mobile-main-nav" id="mobile-main-nav">
                                    <ul class="menu" id="menu-mobile-menu">
                                        <li class="menu-item menu-item-has-children-mobile current-nav">
                                            <a class="item-menu-mobile current" href="javascript:void(0)">
                                                Accueil
                                                <i class="icon-arrow_down"></i>
                                            </a>
                                            <ul class="sub-menu-mobile">
                                                
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children-mobile">
                                            <a class="item-menu-mobile" href="javascript:void(0)">
                                                Page
                                                <i class="icon-arrow_down"></i>
                                            </a>
                                            <ul class="sub-menu-mobile">
                                                <li class="menu-item">
                                                    <a href="about-us.html">A propos</a>
                                                </li>
                                                
                                                
                                                <li class="menu-item">
                                                    <a href="testimonial.html">Temoignages</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children-mobile">
                                            <a class="item-menu-mobile" href="javascript:void(0)">
                                                Profil
                                                <i class="icon-arrow_down"></i>
                                            </a>
                                            <ul class="sub-menu-mobile">
                                                
                                                
                                                <li class="menu-item">
                                                    <a [routerLink]="['/app/utilisateur', currentUser?.id, 'detail']">Détails Profil</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children-mobile">
                                            <a class="item-menu-mobile" href="javascript:void(0)">
                                                Boutiques
                                                <i class="icon-arrow_down"></i>
                                            </a>
                                            <ul class="sub-menu-mobile">
                                                <li class="menu-item">
                                                    <a [routerLink]="['/app/boutiqueProduit/']">Boutique Produits</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children-mobile">
                                            <a class="item-menu-mobile" href="javascript:void(0)">
                                                Services
                                                <i class="icon-arrow_down"></i>
                                            </a>
                                            <ul class="sub-menu-mobile">
                                                <li class="menu-item">
                                                    <a href="our-services.html">Nos Services</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="service-detail.html">Détails Service</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children-mobile">
                                            <a class="item-menu-mobile" href="javascript:void(0)">Forum
                                                <i class="icon-arrow_down"></i></a>
                                            <ul class="sub-menu-mobile">
                                                
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children-mobile">
                                            <a class="item-menu-mobile" href="contact-us.html">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="group-icon">
                                    <a class="site-nav-icon header-search" data-bs-toggle="offcanvas"
                                        href="#canvasSearch">
                                        <i class="icon-magnifying-glass fs-21"> </i>
                                        Rechercher
                                    </a>
                                    <a class="site-nav-icon wg-bag" href="shop-products.html">
                                        <i class="icon-basket"></i>
                                        Boutique
                                    </a>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="infor-list">
                                    <ul>
                                        <li>
                                            <h5 class="title">
                                                Addresse:
                                            </h5>
                                            <p>
                                               Lomé, TOGO
                                            </p>
                                        </li>
                                        <li>
                                            <h5 class="title">
                                                Tel:
                                            </h5>
                                            <p>
                                                +228 90 68 01 13
                                            </p>
                                        </li>
                                        <li>
                                            <h5 class="title">
                                                Email:
                                            </h5>
                                            <p>

                                                Agriconnect &#64; gmail.com
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="wg-social">
                                    <ul class="list">
                                        <li class="item">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </li>
                                        <li class="item">
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        </li>
                                        <li class="item">
                                            <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                        </li>
                                        <li class="item">
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-header style-absolute">
            <div class="tf-container w-1780">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-inner">
                            <div class="header-left">
                                <div class="logo-site">
                                    <a href="index.html">
                                        <img alt="" src="/images/logo/logo.png" />
                                    </a>
                                </div>
                                <div class="main-nav">
                                    <ul class="nav-list">
                                        <li class="item has-child current-menu">
                                            <a href="javascript:void(0)">Accueil</a></li>
                                        <li class="item has-child">
                                            <a href="javascript:void(0)">Pages</a>
                                            <ul class="sub-nav">
                                                <li>
                                                    <a href="about-us.html">
                                                        <span>
                                                            A propos
                                                        </span>
                                                    </a>
                                                </li>
                                                
                                                
                                                <li>
                                                    <a href="testimonial.html">
                                                        <span>
                                                            Temoignages
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="item has-child">
                                            <a href="javascript:void(0)">Profil</a>
                                            <ul class="sub-nav">
                                                <li>
                                                    <a [routerLink]="['/app/utilisateur', currentUser?.id]">
                                                        <span>
                                                            Profil
                                                        </span>
                                                    </a>
                                                </li>
                                               
                                                <li>
                                                    <a [routerLink]="['/app/utilisateur', currentUser?.id, 'detail']">
                                                        <span>
                                                            Détails Profil
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="item has-child">
                                            <a href="javascript:void(0)">Boutique</a>
                                            <ul class="sub-nav">
                                                <li>
                                                    <a href="shop-products.html">
                                                        <span>
                                                            Boutique
                                                        </span>
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="item has-child">
                                            <a href="javascript:void(0)">Services</a>
                                            <ul class="sub-nav">
                                                <li>
                                                    <a href="service-detail.html">
                                                        <span>
                                                            Service Detail
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="our-services.html">
                                                        <span>
                                                            Nos Services
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="item has-child">
                                            <a href="javascript:void(0)">Forum</a>
                                            <ul class="sub-nav">
                                               
                                                
                                            </ul>
                                        </li>
                                        <li class="item has-child">
                                            <a href="contact-us.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-right">
                                <a class="tf-btn gap-30" href="contact-us.html">
                                    <span class="text-style">
                                        Contactez-Nous!
                                    </span>
                                    <div class="icon">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                </a>
                                <div class="icon-wrap">
                                    <a class="icon header-search" data-bs-toggle="offcanvas" href="#canvasSearch">
                                        <i class="fa-solid fa-magnifying-glass fs-21"></i>
                                    </a>
                                    <a class="icon wg-bag" (click)="openCart($event)">
                                        <i class="fa-solid fa-shopping-basket"></i>
                                        <span class="cart-count" *ngIf="cartItemsCount > 0">{{cartItemsCount}}</span>
                                    </a>
                                </div>
                                <div class="wg-welcome btn-open-welcome">
                                    <i class="fa-solid fa-bars fs-24"></i>
                                </div>
                                <div class="mobile-button">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-item children">
                <img alt="" src="/images/item/page-title-top.png" />
            </div>
        </div>
        <div class="header-item">
            <img alt="" src="/images/item/page-title-top.png" />
        </div>
    </header><!-- /.Header -->