<!-- Wrapper -->
<div id="wrapper">
    <!-- Preloader -->
    <!-- /.Preloader -->
    <!-- Top-bar -->
    <div class="tf-topbar">
    <div class="tf-container w-1780">
    <div class="row">
    <div class="col-lg-12">
    <div class="topbar-inner">
    <div class="topbar-left">
    <span class="fs-14 font-nunito">Welcome to DonalFarm</span>
    <span class="fs-14 font-nunito">Agriculture &amp; Organic Farms</span>
    </div>
    <div class="topbar-right">
    <ul class="contact-list">
    <li class="item">
    <a class="icon" href="#">
    <i class="fa-solid fa-phone"></i>
    </a>
    <a href="#"> +1 987 654 3210 </a>
    </li>
    <li class="item">
    <a class="icon" href="#">
    <img alt="" src="icons/mailbox.png"/>
    </a>
    <a href="#">
                                                Donalfarms gmail.com
                                            </a>
    </li>
    <li class="item">
    <a class="icon" href="#">
    <i class="fa-solid fa-location-dot"></i>
    </a>
    <a href="#">
                                                Prinsengracht 250, Amsterdam
                                                Netherlands
                                            </a>
    </li>
    </ul>
    <ul class="social-list">
    <li class="item">
    <a href="#">
    <i class="icon-twitter"></i>
    </a>
    </li>
    <li class="item">
    <a href="#">
    <i class="icon-facebook"></i>
    </a>
    </li>
    <li class="item">
    <a href="#">
    <i class="icon-pinterest"></i>
    </a>
    </li>
    <li class="item">
    <a href="#">
    <i class="icon-instagram2"></i>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div><!-- /.Top-bar -->
    <!-- Welcome -->
    <div class="box-welcome">
    <div class="tf-overlay"></div>
    <div class="welcome-wrap">
    <div class="content">
    <div class="btn-close-welcome icon style-circle">
    <i class="icon-close"></i>
    </div>
    <h3 class="title font-snowfall">
                            DonalFarm Agriculture <br/>
                            Farm of laughter and
                            happiness!
                        </h3>
    <p class="text font-nunito">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Maecenas ex ligula, pulvinar
                            ultrices justo sed.
                        </p>
    <ul class="infor-list">
    <li class="item">
    <i class="fa-solid fa-location-dot fs-18"></i>
    <p>
                                    Prinsengracht 250,
                                    2501016 PM Amsterdam
                                    Netherlands
                                </p>
    </li>
    <li class="item">
    <i class="fa-solid fa-phone"></i>
    <p>
                                    Call us: (234)
                                    109-6666
                                </p>
    </li>
    <li class="item">
    <img alt="" src="icons/mailbox-2.png"/>
    <p>
                                    Mail Support:
                                    Donalfarms gmail.com
                                </p>
    </li>
    <li class="item">
    <i class="fa-solid fa-clock"></i>
    <p>
                                    Mon - Sat: 8.00am -
                                    18.00pm
                                </p>
    </li>
    </ul>
    <div class="wg-social">
    <ul class="list">
    <li class="item">
    <a href="#"><i class="icon-facebook1"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-twitter"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-instagram2"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-pinterest"></i></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div><!-- /.Welcome -->
    <!-- Header  -->
    <header class="header has-item-bot" id="header-main">
    <div class="tf-container w-1780">
    <div class="row">
    <div class="col-lg-12">
    <div class="header-inner">
    <div class="header-left">
    <div class="logo-site">
    <a href="index.html">
    <img alt="" src="images/logo/logo.png"/>
    </a>
    </div>
    <div class="main-nav">
    <ul class="nav-list">
    <li class="item has-child current-menu">
    <a href="javascript:void(0)">Home</a>
    <ul class="sub-nav">
    <li class="current-item">
    <a href="index.html">
    <span>
                                                                Home 1
                                                            </span>
    </a>
    </li>
    <li>
    <a href="home-2.html"><span>
                                                                Home 2
                                                            </span>
    </a>
    </li>
    <li>
    <a href="home-3.html"><span>
                                                                Home 3
                                                            </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Page</a>
    <ul class="sub-nav">
    <li>
    <a href="about-us.html">
    <span>
                                                                About Us
                                                            </span>
    </a>
    </li>
    <li>
    <a href="our-commitments.html">
    <span>
                                                                Our Commitments
                                                            </span>
    </a>
    </li>
    <li>
    <a href="our-events.html">
    <span>
                                                                Our Events
                                                            </span>
    </a>
    </li>
    <li>
    <a href="our-farmers.html">
    <span>
                                                                Our Farmers
                                                            </span>
    </a>
    </li>
    <li>
    <a href="our-history.html">
    <span>
                                                                Our History
                                                            </span>
    </a>
    </li>
    <li>
    <a href="coming-soon.html">
    <span>
                                                                Coming Soon
                                                            </span>
    </a>
    </li>
    <li>
    <a href="404.html">
    <span>
                                                                404
                                                            </span>
    </a>
    </li>
    <li>
    <a href="event-detail.html">
    <span>
                                                                Event Detail
                                                            </span>
    </a>
    </li>
    <li>
    <a href="faq.html">
    <span>
                                                                FAQs
                                                            </span>
    </a>
    </li>
    <li>
    <a href="gallery.html">
    <span>
                                                                Gallery
                                                            </span>
    </a>
    </li>
    <li>
    <a href="testimonial.html">
    <span>
                                                                Testimonial
                                                            </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Portfolio</a>
    <ul class="sub-nav">
    <li>
    <a href="portfolio-style-1.html">
    <span>
                                                                Portfolio Style
                                                                1
                                                            </span>
    </a>
    </li>
    <li>
    <a href="portfolio-style-2.html">
    <span>
                                                                Portfolio Style
                                                                2
                                                            </span>
    </a>
    </li>
    <li>
    <a href="portfolio-style-3.html">
    <span>
                                                                Portfolio Style
                                                                3
                                                            </span>
    </a>
    </li>
    <li>
    <a href="portfolio-details.html">
    <span>
                                                                Portfolio
                                                                Details
                                                            </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Shop</a>
    <ul class="sub-nav">
    <li>
    <a href="shop-products.html">
    <span>
                                                                Shop Products
                                                            </span>
    </a>
    </li>
    <li>
    <a href="shop-details.html">
    <span>
                                                                Shop Details
                                                            </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Services</a>
    <ul class="sub-nav">
    <li>
    <a href="our-services.html">
    <span>
                                                                Our Services
                                                            </span>
    </a>
    </li>
    <li>
    <a href="service-detail.html">
    <span>
                                                                Service Detail
                                                            </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Blog</a>
    <ul class="sub-nav">
    <li>
    <a href="blog-full-width.html">
    <span>
                                                                Blog Full Width
                                                            </span>
    </a>
    </li>
    <li>
    <a href="blog-right-sidebar.html">
    <span>
                                                                Blog Right
                                                                Sidebar
                                                            </span>
    </a>
    </li>
    <li>
    <a href="blog-single.html">
    <span>
                                                                Blog Single
                                                            </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="contact-us.html">Contact</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="header-right">
    <a class="tf-btn gap-30" href="contact-us.html">
    <span class="text-style">
                                            Get In Touch!
                                        </span>
    <div class="icon">
    <i class="icon-arrow_right"></i>
    </div>
    </a>
    <div class="icon-wrap">
    <a class="icon header-search" data-bs-toggle="offcanvas" href="#canvasSearch">
    <i class="icon-magnifying-glass fs-21"></i>
    </a>
    <a class="icon wg-bag" href="shop-products.html">
    <i class="icon-basket"></i>
    </a>
    </div>
    <div class="wg-welcome btn-open-welcome">
    <i class="icon-fences-icon fs-24"></i>
    </div>
    <div class="mobile-button">
    <span></span>
    </div>
    </div>
    </div>
    <div class="mobile-nav-wrap">
    <div class="overlay-mobile-nav"></div>
    <div class="inner-mobile-nav overflow-y-auto">
    <div class="top">
    <div class="logo">
    <a class="main-logo" href="index.html" rel="home">
    <img alt="" id="mobile-logo_header" src="images/logo/logo-2.png"/>
    </a>
    <div class="mobile-nav-close">
    <i class="icon-close"></i>
    </div>
    </div>
    <nav class="mobile-main-nav" id="mobile-main-nav">
    <ul class="menu" id="menu-mobile-menu">
    <li class="menu-item menu-item-has-children-mobile current-nav">
    <a class="item-menu-mobile current" href="javascript:void(0)">
                                                        Home
                                                        <i class="icon-arrow_down"></i>
    </a>
    <ul class="sub-menu-mobile">
    <li class="menu-item current">
    <a href="index.html">Home 1</a>
    </li>
    <li class="menu-item">
    <a href="home-2.html">Home 2</a>
    </li>
    <li class="menu-item">
    <a href="home-3.html">Home 3</a>
    </li>
    </ul>
    </li>
    <li class="menu-item menu-item-has-children-mobile">
    <a class="item-menu-mobile" href="javascript:void(0)">
                                                        Page
                                                        <i class="icon-arrow_down"></i>
    </a>
    <ul class="sub-menu-mobile">
    <li class="menu-item">
    <a href="about-us.html">About Us</a>
    </li>
    <li class="menu-item">
    <a href="our-commitments.html">Our Commitments</a>
    </li>
    <li class="menu-item">
    <a href="our-events.html">Our Events</a>
    </li>
    <li class="menu-item">
    <a href="our-farmers.html">Our Farmers</a>
    </li>
    <li class="menu-item">
    <a href="our-history.html">Our History</a>
    </li>
    <li class="menu-item">
    <a href="coming-soon.html">Coming Soon</a>
    </li>
    <li class="menu-item">
    <a href="404.html">404</a>
    </li>
    <li class="menu-item">
    <a href="event-detail.html">Event Detail</a>
    </li>
    <li class="menu-item">
    <a href="faq.html">FAQs</a>
    </li>
    <li class="menu-item">
    <a href="gallery.html">Gallery</a>
    </li>
    <li class="menu-item">
    <a href="testimonial.html">Testimonial</a>
    </li>
    </ul>
    </li>
    <li class="menu-item menu-item-has-children-mobile">
    <a class="item-menu-mobile" href="javascript:void(0)">
                                                        Portfolio
                                                        <i class="icon-arrow_down"></i>
    </a>
    <ul class="sub-menu-mobile">
    <li class="menu-item">
    <a href="portfolio-style-1.html">Portfolio Style
                                                                1</a>
    </li>
    <li class="menu-item">
    <a href="portfolio-style-2.html">Portfolio Style
                                                                2</a>
    </li>
    <li class="menu-item">
    <a href="portfolio-style-3.html">Portfolio Style
                                                                3</a>
    </li>
    <li class="menu-item">
    <a href="portfolio-details.html">Portfolio Detail</a>
    </li>
    </ul>
    </li>
    <li class="menu-item menu-item-has-children-mobile">
    <a class="item-menu-mobile" href="javascript:void(0)">
                                                        Shop
                                                        <i class="icon-arrow_down"></i>
    </a>
    <ul class="sub-menu-mobile">
    <li class="menu-item">
    <a href="shop-products.html">Shop Product</a>
    </li>
    <li class="menu-item">
    <a href="shop-details.html">Shop Detail</a>
    </li>
    </ul>
    </li>
    <li class="menu-item menu-item-has-children-mobile">
    <a class="item-menu-mobile" href="javascript:void(0)">
                                                        Services
                                                        <i class="icon-arrow_down"></i>
    </a>
    <ul class="sub-menu-mobile">
    <li class="menu-item">
    <a href="our-services.html">Our Services</a>
    </li>
    <li class="menu-item">
    <a href="service-detail.html">Service Detail</a>
    </li>
    </ul>
    </li>
    <li class="menu-item menu-item-has-children-mobile">
    <a class="item-menu-mobile" href="javascript:void(0)">Blog
                                                        <i class="icon-arrow_down"></i></a>
    <ul class="sub-menu-mobile">
    <li class="menu-item">
    <a href="blog-full-width.html">Blog Full Width</a>
    </li>
    <li class="menu-item">
    <a href="blog-right-sidebar.html">Blog Right
                                                                Sidebar</a>
    </li>
    <li class="menu-item">
    <a href="blog-single.html">Blog Single</a>
    </li>
    </ul>
    </li>
    <li class="menu-item menu-item-has-children-mobile">
    <a class="item-menu-mobile" href="contact-us.html">Contact</a>
    </li>
    </ul>
    </nav>
    <div class="group-icon">
    <a class="site-nav-icon header-search" data-bs-toggle="offcanvas" href="#canvasSearch">
    <i class="icon-magnifying-glass fs-21"> </i>
                                                Search
                                            </a>
    <a class="site-nav-icon wg-bag" href="shop-products.html">
    <i class="icon-basket"></i>
                                                Shop
                                            </a>
    </div>
    </div>
    <div class="bottom">
    <div class="infor-list">
    <ul>
    <li>
    <h5 class="title">
                                                        Address:
                                                    </h5>
    <p>
                                                        Prinsengracht 250, Amsterdam Netherlands
                                                    </p>
    </li>
    <li>
    <h5 class="title">
                                                        Phone:
                                                    </h5>
    <p>
                                                        +1 987 654 3210
                                                    </p>
    </li>
    <li>
    <h5 class="title">
                                                        Email:
                                                    </h5>
    <p>
    
                                                        Donalfarms gmail.com
                                                    </p>
    </li>
    </ul>
    </div>
    <div class="wg-social">
    <ul class="list">
    <li class="item">
    <a href="#"><i class="icon-facebook1"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-twitter"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-instagram2"></i></a>
    </li>
    <li class="item">
    <a href="#"><i class="icon-pinterest"></i></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="fixed-header style-absolute">
    <div class="tf-container w-1780">
    <div class="row">
    <div class="col-lg-12">
    <div class="header-inner">
    <div class="header-left">
    <div class="logo-site">
    <a href="index.html">
    <img alt="" src="images/logo/logo.png"/>
    </a>
    </div>
    <div class="main-nav">
    <ul class="nav-list">
    <li class="item has-child current-menu">
    <a href="javascript:void(0)">Home</a>
    <ul class="sub-nav">
    <li class="current-item">
    <a href="index.html">
    <span>
                                                                    Home 1
                                                                </span>
    </a>
    </li>
    <li>
    <a href="home-2.html"><span>
                                                                    Home 2
                                                                </span>
    </a>
    </li>
    <li>
    <a href="home-3.html"><span>
                                                                    Home 3
                                                                </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Page</a>
    <ul class="sub-nav">
    <li>
    <a href="about-us.html">
    <span>
                                                                    About Us
                                                                </span>
    </a>
    </li>
    <li>
    <a href="our-commitments.html">
    <span>
                                                                    Our Commitments
                                                                </span>
    </a>
    </li>
    <li>
    <a href="our-events.html">
    <span>
                                                                    Our Events
                                                                </span>
    </a>
    </li>
    <li>
    <a href="our-farmers.html">
    <span>
                                                                    Our Farmers
                                                                </span>
    </a>
    </li>
    <li>
    <a href="our-history.html">
    <span>
                                                                    Our History
                                                                </span>
    </a>
    </li>
    <li>
    <a href="coming-soon.html">
    <span>
                                                                    Coming Soon
                                                                </span>
    </a>
    </li>
    <li>
    <a href="404.html">
    <span>
                                                                    404
                                                                </span>
    </a>
    </li>
    <li>
    <a href="event-detail.html">
    <span>
                                                                    Event Detail
                                                                </span>
    </a>
    </li>
    <li>
    <a href="faq.html">
    <span>
                                                                    FAQs
                                                                </span>
    </a>
    </li>
    <li>
    <a href="gallery.html">
    <span>
                                                                    Gallery
                                                                </span>
    </a>
    </li>
    <li>
    <a href="testimonial.html">
    <span>
                                                                    Testimonial
                                                                </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Portfolio</a>
    <ul class="sub-nav">
    <li>
    <a href="portfolio-style-1.html">
    <span>
                                                                    Portfolio Style
                                                                    1
                                                                </span>
    </a>
    </li>
    <li>
    <a href="portfolio-style-2.html">
    <span>
                                                                    Portfolio Style
                                                                    2
                                                                </span>
    </a>
    </li>
    <li>
    <a href="portfolio-style-3.html">
    <span>
                                                                    Portfolio Style
                                                                    3
                                                                </span>
    </a>
    </li>
    <li>
    <a href="portfolio-details.html">
    <span>
                                                                    Portfolio
                                                                    Details
                                                                </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Shop</a>
    <ul class="sub-nav">
    <li>
    <a href="shop-products.html">
    <span>
                                                                    Shop Products
                                                                </span>
    </a>
    </li>
    <li>
    <a href="shop-details.html">
    <span>
                                                                    Shop Details
                                                                </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Services</a>
    <ul class="sub-nav">
    <li>
    <a href="service-detail.html">
    <span>
                                                                    Service Detail
                                                                </span>
    </a>
    </li>
    <li>
    <a href="our-services.html">
    <span>
                                                                    Our Service
                                                                </span>
    </a>
    </li></ul>
    </li>
    <li class="item has-child">
    <a href="javascript:void(0)">Blog</a>
    <ul class="sub-nav">
    <li>
    <a href="blog-full-width.html">
    <span>
                                                                    Blog Full Width
                                                                </span>
    </a>
    </li>
    <li>
    <a href="blog-right-sidebar.html">
    <span>
                                                                    Blog Right
                                                                    Sidebar
                                                                </span>
    </a>
    </li>
    <li>
    <a href="blog-single.html">
    <span>
                                                                    Blog Single
                                                                </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="item has-child">
    <a href="contact-us.html">Contact</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="header-right">
    <a class="tf-btn gap-30" href="contact-us.html">
    <span class="text-style">
                                                Get In Touch!
                                            </span>
    <div class="icon">
    <i class="icon-arrow_right"></i>
    </div>
    </a>
    <div class="icon-wrap">
    <a class="icon header-search" data-bs-toggle="offcanvas" href="#canvasSearch">
    <i class="icon-magnifying-glass fs-21"></i>
    </a>
    <a class="icon wg-bag" href="shop-products.html">
    <i class="icon-basket"></i>
    </a>
    </div>
    <div class="wg-welcome btn-open-welcome">
    <i class="icon-fences-icon fs-24"></i>
    </div>
    <div class="mobile-button">
    <span></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="header-item children">
    <img alt="" src="images/item/page-title-top.png"/>
    </div>
    </div>
    <div class="header-item">
    <img alt="" src="images/item/page-title-top.png"/>
    </div>
    </header><!-- /.Header -->